.demo-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 2rem;
    &:hover {
        .demo-rollover {
            transform: translate(0%, 0%) scale(1);
        }
    }

    .demo-rollover {
        position: absolute;
        bottom: 0;

        width: 100%;
        padding: 1em 2em;

        transform: translate(100%, 100%) scale(0);
        transition: transform 0.3s ease;
        
        background-color: white;
        text-align: center;
    }
}

html.touchevents {
    .demo-container {
        .demo-rollover {
            transform: translateY(0%)
        }
    }
}