ul {
    list-style-type: none;
    padding-left: 0;
    &.styled-list {
        h2, h3, h4, h5, h6 {
            display: inline-block;
        }
        li {
            &.is-collapsed {
                &:hover {
                    cursor: pointer;
                    h3 {
                        text-decoration: underline;
                    }
                }
            }
            &::before {
                height: 1em;
                margin-right: 1em;
                display: inline-block;
            }
        }
        > li {
            &::before {
                content: '▼';
            }
            &.is-collapsed::before {
                content: '+';
            }

            ul {
                > li {
                    &::before {
                        content: '/';
                    }
                    &.is-collapsed::before {
                        content: '+';
                    }

                    ul {
                        > li {
                            &::before {
                                content: '#';
                            }
                            &.is-collapsed::before {
                                content: '+';
                            }
                        }
                    }
                }
            }
        }
    }
}