nav {
    background-color: white;
    &.navbar {
        position: sticky;
        top: 0;
        z-index: 1;
        margin-bottom: 0px;
        min-height: 100px;
        background-color: #50929B;
        border-radius: 0px;
        .icon-bar {
            background-color: #FDD580;
        }
    }

    .nav-link {
        color: #FDD580;
        text-shadow: none;
    }

    img {
        width: 60px;
        height: 60px;
    }
    .navbar-brand {
        height: 85px;
    }
}
