.skills [class*="col"] {
    text-align: center
}

.home {
    background-color: #ffffff;
    article {
        position: relative;
        background-color: #ffffff;
        div {
            padding: 2em 1em;
        }
        .left-column {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .right-column {
            float: right;
        }
    }
    img.me {
        border-radius: 50%;
        width: 50%
    }
}
