.skills [class*="col"] {
    text-align: center
}

.home {
    background-color: #ffffff;
    article div {
        background-color: #ffffff;
        padding: 2em 1em;
    }
    img.me {
        border-radius: 190px;
    }
}
