.skills [class*="col"] {
    text-align: center
}

.home {
    background-color: #ffffff;
    article {
        position: relative;
        background-color: #ffffff;
        div {
            padding: 1em;
        }
        .left-column {
            position: relative;
            .text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .right-column {
            text-align: center;
        }
    }
    img.me {
        border-radius: 50%;
        width: 50%
    }
}

@media (min-width: 768px) {
    .home {
        article {
            div {
                padding-top: 2em;
                padding-bottom: 2em;
            }
        }
    }
}
