/*Add http://fontawesome.io*/

.heading-row {
    background-color: #327882;

}

h1 {
    color: #FDD580;
    margin-top: 0;
    padding: 0.6em 0;
    position: sticky;
    top: 100px;
    z-index: 1;
}

h2 {
    &.sticky {
        @media screen and (max-width: 992px) {/*find the css framework variable for this size*/
            position: sticky;
            top: 50px;
            z-index: 1;
        }
    }

}