@import 'partials/vars';
@import 'partials/typography';
@import 'partials/lists';
@import 'partials/footer.scss';
@import 'partials/pages.scss';
@import 'partials/nav.scss';

@import 'partials/demo.scss';
@import 'partials/article.scss';

@import 'partials/accordian.scss';

* {
    box-sizing: border-box;
}

body{
    background-color: white;
}

* {
    box-sizing: border-box
}

main {
    z-index: 0;
}

img {
    max-width: 100%;
}