/*test*/
h1 {
    color:blue !important; //test
}
@import 'partials/vars';
@import 'partials/typography';
@import 'partials/lists';
@import 'partials/footer.scss';
@import 'partials/pages.scss';
@import 'partials/nav.scss';

@import 'partials/demo.scss';
@import 'partials/article.scss';

@import 'partials/accordian.scss';

* {
    box-sizing: border-box;
}

/*these must be deduped and merged to sass. had to update css directly when grunt would not work*/
body{
    background-color: #E1F3F6;
}

* {
    box-sizing: border-box
}